<div style="pointer-events: none">
  <div id='overlay' style='position: relative; z-index: 0'>
    <!--TODO loading gif-->
    <youtube-player *ngIf="data"
                    style='position: relative; z-index: -1'
                    [width]="800"
                    [height]="600"
                    [playerVars]="playerVars"
                    [videoId]="data.youtubeId"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
    ></youtube-player>
  </div>
</div>


