@import '../../../sass/base/typography';

:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.briefing {
  font-family: $font-family-display;
  @include font-size-large;
  padding-bottom:30px;
}

.calibration {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.calibrator {
  width: 33%;
}

.continue {
  font-size: 1.5em;
}

app-webcam-calibration, app-mic-calibration {
  padding-right: 15px;
}
