<div class="col-md-4 parent">
  <div [ngClass]='{"calibration-success": isCalibrated}' class="panel panel-default calibrator calibration-height">
    <div class="text-center">
      <div class="panel-heading"><span *ngIf="!isCalibrated">Center the camera on your face</span><span *ngIf="isCalibrated">Webcam calibration complete</span></div>
      <div class="panel-body">
        <app-webcam-monitor *ngIf="!isCalibrated"><img src="/images/liveFeedPlaceholder.gif"/></app-webcam-monitor>
        <div class="row-fluid">
          <div class="text-center">
            <button (click)="complete()" *ngIf="!isCalibrated">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
