@import '../../../sass/base/typography';

:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.briefing {
  @include font-size-large;
  font-family: $font-family-display;
  padding-bottom: 30px;
}

.access-status {
  display: flex;
  justify-content: space-around;
}

.continue {
  display: flex;
  justify-content: space-around;
}
