@import '../../../sass/base/typography';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.briefing {
  @include font-size-large;
  font-family: $font-family-text;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 75%;
}

.access-status {
  display: flex;
  justify-content: space-around;
}

.continue {
  display: flex;
  flex-direction: column;
  align-items: center;
}
