<div class="briefing alert alert-info">
  In order to make sure that you are
  not in a distracting environment, we
  need to collect audio and video data during this task. This data will be stored on a secure server,
  separately from your provided information, and separately from any identifying information. This data
  will only be accessible by researchers affiliated with this project.
</div>

<div class="access-status">
  <div *ngIf="access == 'denied'" class="alert alert-danger">
      Access to your webcam and microphone is currently blocked. <br>
      Please click this button <img src="/assets/browser-bar-buttons-pointer.png"/> on the
      right side of your browser bar <br>
      and select the "Always allow.." option.
  </div>

  <div *ngIf="access == 'notFound'" class="alert alert-danger">
      You need a webcam and microphone attached to your computer to continue.
  </div>

  <div *ngIf="access == 'granted'" class="alert alert-success">
      Your camera and microphone are ready!
  </div>
</div>

<div class="continue">
  <button *ngIf="access != 'granted'" (click)="reload()">Reload Page</button>
  <button *ngIf="access == 'granted'" (click)="continue()">Continue</button>
</div>
