:host {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.briefing {
  font-size: 1.5em;
}

.calibration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calibrator {
  width: 33%;
}

.continue {
  font-size: 1.5em;
}
