<div class="briefing alert alert-info">
  Please complete the three calibration tasks below to ensure your webcam, microphone and headphones are properly set up.
</div>
<div class="calibration">
  <div class="calibrator">
    <app-webcam-calibration (onCalibrated)="onCalibrated('webcam')"></app-webcam-calibration>
  </div>
  <div class="calibrator">
    <app-mic-calibration (onCalibrated)="onCalibrated('mic')"></app-mic-calibration>
  </div>
  <div class="calibrator">
    <app-speaker-calibration (onCalibrated)="onCalibrated('speakers')"></app-speaker-calibration>
  </div>
</div>
<div class="continue" *ngIf="expectedEvents.size == 0">
  Once you begin the study, you must complete it in one sitting.<br>
  Press space bar when you are ready to begin the study...
</div>
