:host {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.briefing {
  font-size: 1.5em;
}

.access-status {
  display: flex;
  justify-content: space-around;
}

.continue {
  display: flex;
  justify-content: space-around;
}
