:host {
  display: flex;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

app-play-button {
  margin-bottom: 20px;
}

.user-input {
  width: 8em;
  text-align: center;
}

// TODO place in mixin
// from https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery#answer-17402192
/* WebKit browsers */
.user-input:focus::-webkit-input-placeholder { color:transparent; }
/* Mozilla Firefox 4 to 18 */
.user-input:focus:-moz-placeholder { color:transparent; }
/* Mozilla Firefox 19+ */
.user-input:focus::-moz-placeholder { color:transparent; }
/* Internet Explorer 10+ */
.user-input:focus:-ms-input-placeholder { color:transparent; }

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
