<app-calibration-template *ngIf="!isCalibrated">
  <card-body>
    <div class="instructions">
      Enter the word from<br>
      <button (click)="playTestSound()">this audio clip</button><br/>
      <input type="text" class="user-input form-control" placeholder="in this field" [(ngModel)]="userInput" (ngModelChange)="onUpdate($event)" required>
    </div>
  </card-body>
</app-calibration-template>
<audio #audioTest>
  <source src="/assets/welcome.mp3" type="audio/mpeg"/>
</audio>

<div class="alert alert-success" *ngIf="isCalibrated">Speaker calibration complete</div>
