<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gmail</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let permission of permissions">
    <td>{{ permission.displayName }}</td>
    <td>{{ permission.emailAddress }}</td>
    <td>
      <button (click)="deletePermission(permission)">Remove</button>
    </td>
  </tr>
  <tr>
    <td>
      <i>Fetched on 'add'</i>
    </td>
    <td>
      <input type="text" name="email" [(ngModel)]="newPermission.emailAddress"/>
    </td>
    <td>
      <button (click)="createPermission()">Add</button>
    </td>
  </tr>
  </tbody>
</table>
