<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gmail</th>
    <th>Permission</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <!--<tr ng-repeat="share in shares">-->
    <!--<td>{{ share.name }}</td>-->
    <!--<td>{{ share.email }}</td>-->
    <!--<td>{{ share.permission }}</td>-->
    <!--<td>-->
      <!--<button ng-click="unshareAvData(share)">Remove</button>-->
    <!--</td>-->
  <!--</tr>-->
  <tr>
    <td>
      <input type="text" name="userName" ng-model="newShare.name"/>
    </td>
    <td>
      <input type="text" name="email" ng-model="newShare.email"/>
    </td>
    <td>
      <select ng-model="newShare.permission">
        <option>reader</option>
        <option>writer</option>
        <option>owner</option>
      </select>
    </td>
    <td>
      <button ng-click="shareAvData()">Add</button>
    </td>
  </tr>
  </tbody>
</table>
