@import '../../../sass/base/typography';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.instructions {
  @include font-size-large;
  border-bottom: thin solid black;
  font-family: $font-family-text;
  padding-bottom: 50px;
  text-align: center;
  width: 75%;
}

.continue {
  @include font-size-x-large;
  font-family: $font-family-text;
  padding-top: 20px;
}
