extends ./includes/layout

block main-content
    section.content
    div(class="container-fluid pid")
        div(ng-controller="MainCtrl as session" ng-cloak)
            div(ng-switch on="session.phase" class="center-block")
                div(ng-switch-when="authenticating")
                    h3(class="text-center") Authenticating your session...
                div(ng-switch-when="browser-detect")
                    browser-detection
                div(ng-switch-when="invalid-url")
                    h3(class="text-center") Sorry, the link that you used is not valid
                div(ng-switch-when="permissions")
                    permissions
                div(ng-switch-when="welcome")
                    calibration
                div(ng-switch-when="briefing")
                    briefing(instructions="session.instructions")
                div(ng-switch-when="stimulus" ng-controller="youTubeCtrl as ytCtrl")
                    youtube(width="{{ytCtrl.width}}" height="{{ytCtrl.height}}" videoid="{{ytCtrl.videoid}}")