@import '../../../../sass/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; // TODO requires parent to be relative. Maybe use case for directive?
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
}

.checkmark {
  width: 40px;
  height: 80px;
  border: solid $title-green;
  border-width: 0 20px 20px 0;
  transform: rotate(45deg);
}
